header.header
	block h1
		figure.header-logo
			img(src="images/spacer.gif" style='background-image:url(images/logo_a.png)').header-logo__image
		h1.header-title
			span.header-title__name.is_kanji 網谷 豪
			span.header-title__name.is_katakana アミタニゴウ
			span.header-title__name.is_english Amitani Go
			//span.header-title__phonetic AMITANI GO

	ul.list.by_side.margin_icon
		li.list__item
			a(href="https://twitter.com/amitanigo" class="icon" target="_blank")
				<svg class="icon__svg icon_twitter">
					<title>TWITTER</title>
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
				</svg>
		li.list__item
			a(href="https://note.mu/amitanigo" class="icon" target="_blank")
				<svg class="icon__svg icon_note">
					<title>note</title>
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#note"></use>
				</svg>
		li.list__item
			a(href="https://amitanigo.tumblr.com/" class="icon" target="_blank")
				<svg class="icon__svg icon_tumblr">
					<title>tumblr</title>
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tumblr"></use>
				</svg>
		//
			li.list__item
				a(href="https://www.instagram.com/amitanigo/" class="icon" target="_blank")
					<svg class="icon__svg icon_instagram">
						<title>instagram</title>
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use>
					</svg>
		|
		//-
