extend includes/_layout
append variables
	//- Required
	- var pageTitle= "網谷豪";
	- var pageDescription= site.description;
	- var pageKeywords= site.keywords;
	//- Optional
	- var pageOgpTitle= "網谷 豪";
	- var pageOgpImage= site.ogpImage
	- var pageLang= "ja";
	- var pageOgpType= "website";
	//- Not modified
	- var pageUrl= site.relativePath;

block content
	// +gnavi( pageUrl )
	// contents
	// h2= pageUrl
	.hero-wrap
		figure.hero
			img(src="images/hero.png").hero__image
	.belt-wrap
		a(href="https://twitter.com/amitanigo" class="belt" target="_blank")
			<svg class="belt__icon icon_twitter">
				<title>TWITTER</title>
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
			</svg>
			p.belt__text @amitanigo
	article.article
		.box.margin_bottom
			.box__text
				p マンガを販売しているサイト
					//
						br
						|
					//-
		section.section
			// h2.title マンガ
			ul.link-list
				li.link-list__item
					a(href="https://amitanigo.booth.pm/" target="_blank").link
						dl.link-dl
							dt.link-dl__title BOOTH
							dd.link-dl__data 関西コミティア53で、はじめてサークル参加した。その時に製本したマンガの短編集の販売。
		.box.margin_bottom
			.box__text
				p WEBで読めるマンガやブログのリンク一覧
		section.section
			h2.title マンガ
			ul.link-list
				li.link-list__item
					a(href="https://rookie.shonenjump.com/users/1609047349018503201" target="_blank").link
						dl.link-dl
							dt.link-dl__title ジャンプルーキー
							dd.link-dl__data はじめて投稿したマンガサイト。
				li.link-list__item
					a(href="http://toko.takekuma.jp/home.php?userid=273" target="_blank").link
						dl.link-dl
							dt.link-dl__title 投稿マヴォ
							dd.link-dl__data サイトに載ったら、TWITTERで竹熊さんがマンガの感想をつぶやいてくれる。
				li.link-list__item
					a(href="https://www-indies.mangabox.me/episode/79908/" target="_blank").link
						dl.link-dl
							dt.link-dl__title マンガボックスインディーズ
							dd.link-dl__data 「カセット＆ソフト」という作品は、マンガボックスインディーズにしかアップロードしていない。作者の作品一覧、みたいなページがないので、このリンクはその「カセット＆ソフト」に飛ぶ。
				li.link-list__item
					a(href="https://mangahack.com/users/28695/comics" target="_blank").link
						dl.link-dl
							dt.link-dl__title マンガハック
							dd.link-dl__data 他の投稿マンガサイトも試してみたくて投稿してみた。
			h2.title ブログ
			ul.link-list
				li.link-list__item
					a(href="https://note.mu/amitanigo" target="_blank").link
						dl.link-dl
							dt.link-dl__title note
							dd.link-dl__data ネームとか下書きとかしていない1ページマンガ、ブログとかバンド活動記録とか。

	// footer.footer footer
