extend includes/_layout
append variables
	//- Required
	- var pageTitle= "網谷豪";
	- var pageDescription= site.description;
	- var pageKeywords= site.keywords;
	//- Optional
	- var pageOgpTitle= "網谷 豪";
	- var pageOgpImage= site.ogpImage
	- var pageLang= "ja";
	- var pageOgpType= "website";
	//- Not modified
	- var pageUrl= site.relativePath;

block content
	article.area.bg_block
		h1.area-title 販売
		.area-link
			ul.list.by_side.margin_right
				li.list__item
					a(href="https://amitanigo.booth.pm/" class="bannar" target="_blank")
						img(src="https://asset.booth.pm/static-images/banner/200x40_01.png")
				li.list__item
					a(href="https://suzuri.jp/amitanigo" class="bannar" target="_blank")
						<svg>
							<title>suzuri</title>
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#suzuri"></use>
						</svg>
		ul.list.margin_bottom.by_side1280
			li.list__item
				dl.box.has_figure.has_btn
					dt.box-title AGO アゴ 2016
					dd.box-data-figure
						figure.product
							img(src="images/ago_2016.jpg").product__img
					dd.box-data
						p 2018.9.30　発行<br>B6/114P/800円/オンデマンド
						p 2016年に描いた短編マンガをまとめた本。
						dl
							dt 収録作品
							dd
								ul
									li Doppel Gangers VS Restaurant GARP
									li じゃがいもスパイ BARM
									li SUICIDE IN THE AIR
									li イエティは踊らない
									li フェイシング
							dt ページ数
							dd 表紙と裏表紙合わせて、114ページ。
					dd.box-data-btn
						ul.list.by_inline.margin_right
							li.list__item
								a(href="https://amitanigo.booth.pm/items/1044085" class="btn btn_booth" target="_blank")
									p.btn__main 製本版 800円
									span.btn__info BOOTHで購入する
							li.list__item
								a(href="https://amitanigo.booth.pm/items/1043917" class="btn btn_booth" target="_blank")
									p.btn__main DL版 500円
									span.btn__info BOOTHで購入する
			li.list__item
				dl.box.has_figure.has_btn
					dt.box-title AGO アゴ 2017
					dd.box-data-figure
						figure.product
							img(src="images/ago_2017.jpg").product__img

					dd.box-data
						p 2018.9.30　発行<br>B6/100P/800円/オンデマンド
						p 2017年に描いた短編マンガをまとめた本。
						dl
							dt 収録作品
							dd
								ul
									li Joggers High
									li バードバードバード
									li ヘルズソサエティの空
									li エンディングロール
							dt ページ数
							dd 表紙と裏表紙合わせて、100ページ。
					dd.box-data-btn
						ul.list.by_inline.margin_right
							li.list__item
								a(href="https://amitanigo.booth.pm/items/1044100" class="btn btn_booth" target="_blank")
									p.btn__main 製本版 800円
									span.btn__info BOOTHで購入する
							li.list__item
								a(href="https://amitanigo.booth.pm/items/1044074" class="btn btn_booth" target="_blank")
									p.btn__main DL版 500円
									span.btn__info BOOTHで購入する

	article.area.bg_noise
		h1.area-title WEBで読めるマンガ
		ul.list.by_inline
			li.list__item
				a(href="http://mavo.takekuma.jp/viewer.php?id=986" class="btn btn_text" target="_blank") 電脳マヴォ
			li.list__item
				a(href="https://rookie.shonenjump.com/users/1609047349018503201" class="btn btn_text" target="_blank") ジャンプルーキー
			li.list__item
				a(href="http://toko.takekuma.jp/home.php?userid=273" class="btn btn_text" target="_blank") 投稿マヴォ
			li.list__item
				a(href="https://mangahack.com/users/28695/comics" class="btn btn_text" target="_blank") マンガハック
			li.list__item
				a(href="https://www-indies.mangabox.me/episode/79908/" class="btn btn_text" target="_blank") マンガボックスインディーズ










	// +gnavi( pageUrl )
	// contents
	// h2= pageUrl
	// img(src="images/spacer.gif" style="background-image:url('images/ago_2016.jpg')").product__img



		//
			br
			|
		//-
