.hero-wrap {
  width: 92%;
  padding: 16px 4%;
  overflow-x: auto;
  overflow-y: hidden;
  background: #fff;
  border-top: solid 1px $color--grey;
  border-bottom: solid 1px $color--grey;
}
.hero {
  width: 280%;
  margin: 0;
}
.hero__image {
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero-wrap {
    margin: 0 auto;
  }
  .hero {
    width: 100%;
    margin: 0;
  }
  .hero__image {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 980px) {
  .hero-wrap {
    width: 980px;
    padding: 16px 0;
  }
}
