.list {
  display: block;
  padding: 0;
  margin: 0;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.list__item {
  display: block;
}

//横並び
.list.by_side {
  > .list__item {
    float: left;
  }
}
.list.by_inline {
  > .list__item {
    display: inline-block;
  }
}
//マージン
.list.margin_icon {
  > .list__item {
    margin-right: 0.5rem;
  }
  > .list__item:last-child {
    margin-right: 0;
  }
}
.list.margin_right {
  > .list__item {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  > .list__item:last-child {
    margin-right: 0;
  }
}
.list.margin_bottom {
  > .list__item {
    margin-bottom: 6rem;
  }
  > .list__item:last-child {
    margin-bottom: 0;
  }
}


@media screen and (min-width: 1280px) {
  .list.by_side1280 {
    > .list__item {
      float: left;
      width: 50%;
    }
  }
}
@media screen and (min-width: 980px) {
}
@media screen and (min-width: 768px) {
  .list.margin_right {
    > .list__item {
      margin-right: 4rem;
    }
  }
}
