@charset "utf-8";
// ==========================================================================
// 768px 480px 375px 320px
// ==========================================================================
// ==========================================================================
// Foundation
// ==========================================================================
@import "foundation/*";

// ==========================================================================
// Layout
// ==========================================================================
@import "layout/*";

// ==========================================================================
// Object
// ==========================================================================
@import "object/*";

// ==========================================================================
// original
// ==========================================================================
@import "original/*";
body {
  background: $color--white;
}
.hide {
  display: none;
}
p {
  margin: 0;
}

@media screen and (min-width: 980px) {

}
@media screen and (min-width: 768px) {

}
